ul {
  margin: 1em -1em 1em;
  text-align: left;
  list-style: none;
}

.headerCenter {
  display: flex;
  justify-content: center;
}

.headdiv {
  text-align: center;
}

.headingOne {
  font-size: 150%;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-weight: bolder;
}

.headerImg {
  align-items: center;
  align-items: center;
  align-content: center;
  width: 25%;
  height: 6%;
}

.backbtn-class {
  float: left;
  display: block;
  position: relative;
  width: 10%;
}
.backbtn {
  background-color: #d33838;
  position: absolute;
  color: #ffffff;
  padding: 8px;
  border-radius: 10px;
  width: 60%;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-weight: bolder;
  font-size: 25px;
}

.imgHeader {
  width: 50%;
  height: 85%;
  margin-bottom: 0%;
  display: inline-block;
}

.classroomBtn {
  background-color: #d33838;
  color: rgb(255, 255, 255);
  border-radius: 8px;
}

#center {
  text-align: center;
  width: 50%;
  height: 4%;
  display: inline-block;
  margin-left: 20%;
}

#inside-irb-bttn {
  background-color: #cc9e9e;
  color: rgb(255, 255, 255);
}

.arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.arrow-left {
  transform: rotate(-135deg);
}

.arrow:hover {
  opacity: 1;
  color: #c42828;
}

h1 {
  margin: 0%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

th,
td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

.courses {
  margin-top: 1%;
  margin-bottom: 1%;
}

.coursebtn {
  width: 100%;
  height: 10%;
  font-weight: bolder;
  font-size: 25px;
  background-color: white;
  color: rgb(0, 0, 0);
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 2%;
  border-color: #c42828;
  outline: none;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.coursebtn:hover {
  background-color: #d33838;
  color: white;
}

.active,
.coursebtn:hover {
  background-color: #d33838;
  color: white;
}

.text {
  background-color: #ebe9e97e;
  display: none;
  font-size: 30px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.h6 {
  padding-top: 0%;
  padding-bottom: 0%;
}

.backhomebtn {
  width: 30%;
  height: 6%;
  background-color: #d33838;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0% 35%;
  transition-duration: 0.4s;
  cursor: pointer;
  border-color: #c42828;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-weight: bolder;
  border-radius: 16px;
}

.backhomebtn:hover {
  background-color: #ffffff;
  color: black;
}

:root {
  --body-bg: #fdfdfd;
  --thead-bg: #f7f9fb;
  --thead-color: hsl(0, 0%, 0%);
  --bd-color: #ebebeb;
  --time-color: hsl(0, 0%, 0%);

  --time-width: 75px;
  --sticky-height: 40px;
}

body {
  background: var(--body-bg);
  overflow-x: hidden;
}

.wrapper {
  margin-top: 1%;
}

.sticky-header {
  height: var(--sticky-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--body-bg);
  z-index: 7;
  position: sticky;
  top: 0;
  font-weight: 700;
  overflow: hidden;
}

.sticky-header span {
  opacity: 0;
  transform: translateY(-100%);
  transition: 0.4s;
}

.reveal .sticky-header span {
  opacity: 1;
  transform: none;
}

.table {
  position: relative;
  border: solid var(--bd-color);
  border-width: 0 1px 0 0;
  overscroll-behavior: contain;
}

.headers {
  top: var(--sticky-height);
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.04);
}

.tracks,
.scroller {
  display: flex;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.scroller {
  overflow-x: hidden;
  flex: 1;
}

.tracks {
  overflow: auto;
}

.tracks::-webkit-scrollbar,
.scroller::-webkit-scrollbar {
  display: none;
}

.track {
  flex: 1 0 22%;
}

.track + .track {
  margin-left: -1px;
}

.time {
  flex: 0 0 var(--time-width);
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}

.headers .time {
  z-index: 5;
}

.tracks .time {
  box-shadow: 20px 0 50px rgba(0, 0, 0, 0.05);
}

time {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.03em;
}

time {
  color: hsl(0, 0%, 0%);
  text-align: right;
}

.time .heading {
  justify-content: flex-end;
  padding-right: 1em;
  font-weight: 500;
  background: #f9f9f9;
}

.heading {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border: solid var(--bd-color);
  border-width: 1px;
  color: hsla(210, 5%, 40%, 1);
  z-index: 1;
  background: var(--thead-bg);
  font-weight: 700;
}

.entry {
  border: 1px solid #ebebeb;
  border-top: 0;
  background: var(--body-bg);
  height: 9em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.entry:not(:last-of-type) {
  border-bottom-style: dashed;
}

.track:last-of-type > div {
  border-right: 0;
}

.time .entry,
.time .heading {
  position: relative;
  border-color: transparent var(--bd-color) var(--bd-color) transparent;
  border-color: transparent var(--bd-color) transparent transparent;
}

.time .entry:after,
.time .heading:after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 50%;
  height: 1px;
  z-index: 3;
  background: linear-gradient(to left, var(--bd-color), var(--body-bg));
}

.double {
  height: 18em;
}
.treble {
  height: 27em;
}

.details {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  border: 1px solid #ebecee;
  padding: 10px;
  border-left: 5px solid var(--theme-bg);
  height: 100%;
}

h3 {
  font-size: 12px;
  background: var(--theme-bg);
  padding: 2px 5px;
  font-weight: 600;
  line-height: 1.4;
  border-radius: 2px;
  color: var(--theme-color);
  width: max-content;
}

.yellow {
  --theme-color: hsl(40, 50%, 30%);
  --theme-bg: #ffd800;
}

.turq {
  --theme-color: hsl(180, 50%, 30%);
  --theme-bg: #00facd;
}

.blue {
  --theme-color: hsl(200, 50%, 30%);
  --theme-bg: #52f0fa;
}

.purple {
  --theme-color: hsl(235, 75%, 90%);
  --theme-bg: #473bbe;
}

.green {
  --theme-color: #2d4710;
  --theme-bg: #86f250;
}

.gray {
  --theme-color: var(--thead-bg);
  --theme-bg: #bbbcbc;
}

p {
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin: 0;
}

p + p {
  color: #000000;
  margin-top: 5px;
  font-weight: 400;
}

.buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 6;
  height: 100%;
  padding: 1px 0;
  width: calc(100% - var(--time-width));
}

button {
  border-radius: 0;
  border: 0;
  padding: 5px;
  font: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none !important;
  cursor: pointer;
  background: var(--thead-bg);
}

button > svg {
  line-height: 0;
  width: 30px;
  height: 30px;
  fill: var(--thead-color);
  pointer-events: none;
}

.btn-left {
  transform: scaleX(-1);
}

#top-of-site-pixel-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 15em;
  left: 0;
}

@media (max-width: 767px) {
  .track:not(.time) {
    flex: 1 0 calc(50% + 7px);
  }
}

.destMarker {
  width: 1.2%;
  height: 3.25%;
}

.autocomplete {
  position: relative;
  display: inline-block;
  align-items: center;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type="submit"] {
  background-color: #d33838;
  color: #ffffff;
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-weight: bolder;
  font-size: 16px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: #c42828;
  color: #ffffff;
}

.search {
  margin-top: 20px;
  text-align: center;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#myInput {
  font-size: 25px;
}

.submit {
  background-color: #d33838;
  color: #ffffff;
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-weight: bolder;
  font-size: 15px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  text-align: center;
  vertical-align: middle;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 2%;
  border: 1% solid #888;
  width: 70%;
  height: 50%;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}
